.header {
    color: green;
}

.container {
    height: '30vh';
    display: 'flex';
    justifyContent: 'center';
    alignItems: 'center';
    fontSize: 40;
    color: '#010101';
  }

  .component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }